body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(174, 173, 173);
    border: 5px solid black;
    /* width: 80%; */
}
.container{
    border: 2px solid black;
    background-color: rgb(17, 12, 7);
    border-radius: 10px;
    padding: 10px;
    padding-top:10px ;
    margin-top: 20px;
    margin-bottom: 100px;

}
.button-row{
    justify-content: space-between;
    padding-top:5px ;
}
.button-row button{
    background-color: white;
    border-radius: 50%;
    border: transparent;
    width: 4rem;
    height: 4rem;
    font-size: large;
    font-weight: 600;
}
.display{
    width: 16.4rem;
height: 7rem;
background-color: beige;
border-radius: 10px;
border: transparent;
text-align-last: right;
font-size: 3rem;
}